*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 color:black;
 
}
section{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("./wall/wall.jpg");
    background-size:cover;
    background-position: center center;

}


.containerlog{
    position:absolute;
    top: 50%;
    left :50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(black);
    width:380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px black;
    font-weight: bolder;

}
h1{
    text-transform: uppercase;
    font: size 2em;
    text-align: center;
    margin-bottom: 2em;
    color: white;
}
.log input{
    width: 100%;
    display: block;
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    margin: 1em;

}
.log input[type="email"]{
    text-transform: lowercase;
}
.log input[type="button"]{
    background: greenyellow;
    text-transform:uppercase;
    font-size: 1.2em;
}
.log input[type ="submit"]{
    background: greenyellow;
    text-transform:uppercase;
    font-size: 1.2em;

}
.log a{
    text-decoration: none;
}

.log input[type ="submit"]:hover{
background: green;
}

.link{
  text-align: center;
    
}
.link a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
.link a:hover{
    color:purple;
}
